<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha lista de tarefas</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/img/ico.ico" type="image/x-icon">
    
</head>
<body>
    <header>
        <h1>Minha lista de tarefas</h1>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
        <p>&copy; desenvolvido por <a href="https://github.com/Cannedsans" target = "_blank">João Felipe</a></p>
    </footer>
</body>
</html>