<div class = "Caixa">
<form action="/login" method="post">
  <h2>Login</h2>
  <label for="login-email">Email</label>
  <input type="email" name="email" id="login-email">
  <label for="login-password">Senha</label>
  <input type="password" name="password" id="login-password">
  <button type="submit">Entrar</button>
</form>


<form action="/cadastro" method="post">
  <h2>Cadastro</h2>
  <label for="cadastro-email">Email</label>
  <input type="email" name="email" id="cadastro-email">
  <label for="cadastro-password">Senha</label>
  <input type="password" name="password" id="cadastro-password">
  <button type="submit">Cadastrar</button>
</form>
</div>
<script src="/js/pop.js"></script>