<h1>Login</h1>
<form action="/login" method="post">
  <label for="login-email">Email</label>
  <input type="email" name="email" id="login-email">
  <label for="login-password">Senha</label>
  <input type="password" name="password" id="login-password">
  <button type="submit">Entrar</button>
</form>

<h1>Cadastro</h1>
<form action="/cadastro" method="post">
  <label for="cadastro-email">Email</label>
  <input type="email" name="email" id="cadastro-email">
  <label for="cadastro-password">Senha</label>
  <input type="password" name="password" id="cadastro-password">
  <button type="submit">Cadastrar</button>
</form>
<script src="/js/pop.js"></script>